[submodule "manifests/ansible/kubespray"]
	path = manifests/ansible/kubespray
	url = https://github.com/zexi/kubespray.git
[submodule "manifests/ansible/kubespray_2_17_0"]
	path = manifests/ansible/kubespray_2_17_0
	url = https://github.com/zexi/kubespray
