# ---> Go
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.swp

# Folders
_obj
_test

.VERSION

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
_output
bin
/relay
/structargtest
.idea
.ropeproject

management-state/
config.yaml
static/

# generated source code
pkg/generated
zz_generated.blob.go
